* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans';
}

body {
    background-color: #124e50 ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #000000;
    background-image: url(./gastronomia.webp);
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    width: 900px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.titulo {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: left;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 16px;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    margin-right: 15px;
}

ul{

    list-style-type: none;
    display: flex;                  
    font-family: "Open Sans", sans-serif;
    gap: 10px;                      
    font-size: 16px;
    position: absolute;              
    right: 50px;  
    padding-top: 19px;           
    top: 30px;  
    left: 400px;
    
    
    
}
a{

    
    color: white;
    background-color:  #000957;
    border: 1px outset;
    padding: 10px;
    list-style-type: none;
    width: 8px;
    border-radius: 29px;
    text-decoration: none;
   

 
} 
